@import "tailwindcss";


@theme{
  --color-bright-blue: #00aeef;
  --color-light-blue: #1c75bc;
}


body{
  font-family: 'Libre Caslon Display', sans-serif ;
}

.inter{
  font-family: 'Inter', sans-serif;
}

.hero{
  background:  linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%), url('/hero-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  /* background-position: center; */
}

@media (max-width: 768px) {
  .hero {
    background-position: center;
  }
  
}